.vue-typer {
  /* Styles for the vue-typer container
     e.g. font-family, font-size  */
  font-weight: bold;
  .custom.char {
    color: #fff;
  }
}

.g-image {
  max-width: 100%;
}

.v--modal-block-scroll {
  overflow: hidden;
}
